{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card hovercard">
                <div class="card-background">
                    <img class="card-bkimg" alt="image de fond" src="https://lorempixel.com/100/100/people/9/">
                    <!-- http://lorempixel.com/850/280/people/9/ -->
                </div>
                <div class="useravatar">
                    <img alt="image profile" src="https://lorempixel.com/100/100/people/2/">
                </div>
                <div class="card-info"> <span class="card-title">{{ app.user.username }}</span></div>
            </div>
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="..." id="profileTab">
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <div class="hidden-xs">Mes notes</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <div class="hidden-xs">Mes Films Favoris</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="hidden-xs">Mon Profil</div>
                    </button>
                </div>
            </div>

            <div class="well">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <h3>This is tab 1</h3>
                    </div>
                    <div class="tab-pane fade in" id="tab2">
                        {% for movie in favoriteMovies %}
                            <div class="col-md-4 text-center">
                                <div class="panel panel-default heigth-800">
                                    <div class="panel-heading">
                                        <h4>{% if movie.title is defined %}{{ movie.title }}{% endif %}</h4>
                                    </div>
                                    <div class="panel-body">
                                        <img class="img-responsive center-block" src="https://image.tmdb.org/t/p/w342{{ movie.posterPath }}" alt="{% if movie.title is defined %}{{ movie.title }}{% endif %}"/>
                                        <hr>
                                        <a href="{{ path('movie_details', {movie_id: movie.movieDbId}) }}" class="btn btn-default">Plus d'information</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade in" id="tab3">
                        <h3>Mes informations</h3>
                        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

                        <h3>Editer mon profil</h3>
                        {{ render(controller('UserBundle:Profile:edit')) }}

                        <h3>Changer mon mot de passe</h3>
                        {{ render(controller('UserBundle:ChangePassword:changePassword')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

