{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group">
    {{ form_label(form.content, "Commentaire:") }}
    {{ form_errors(form.content) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '3', 'style': 'border: 1px solid #ecf0f1;'}}) }}
</div>
<div class="form-group">
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
