<div class="mg-l-50">
{% for child in comment.children %}
    <div class="col-md-12">
        <div class="panel panel-white post">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="{{ asset('img/user.jpg') }}" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#"><b>{{ child.user.getUsername() }}</b></a>
                    </div>
                    <h6 class="text-muted time">{{ child.createdAt|formatedDate }}</h6>
                </div>
            </div>
            <div class="post-description">
                <p>{{ child.content }}</p>
                <div class="stats">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="#" class="btn btn-default stat-item remove-event" title="j'aime ce commentaire" onclick="addLikeOnComment({{ child.id }})">
                            <i class="fa fa-thumbs-up icon"></i><span id="likeComment{{ child.id }}">{{ child.commentLike }}</span>
                        </a>
                        <a href="#" class="btn btn-default stat-item remove-event" title="je n'aime pas ce commentaire" onclick="addDislikeOnComment({{ child.id }})">
                            <i class="fa fa-thumbs-down icon"></i><span id="dislikeComment{{ child.id }}">{{ child.commentDislike }}</span>
                        </a>
                        {% if depth < 2 %}
                            <a href="#replyTo{{ child.id }}" data-toggle="collapse" class="btn btn-default stat-item" title="répondre à ce commentaire">
                                <i class="fa fa-reply icon"></i>
                            </a>
                            <div class="mg-t-50 mg-l-50 collapse" id="replyTo{{ child.id }}">
                                <p>Votre réponse à ce commentaire :</p>
                                {{ render(controller('AppBundle:User:addCommentResponse', {movie_id: comment.getMovieId(), comment_parent_id: child.id})) }}
                            </div>
                        {% endif %}
                    {% else %}
                        <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-default stat-item remove-event" title="j'aime ce commentaire">
                            <i class="fa fa-thumbs-up icon"></i><span id="likeComment{{ child.id }}">{{ child.commentLike }}</span>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-default stat-item remove-event" title="je n'aime pas ce commentaire">
                            <i class="fa fa-thumbs-down icon"></i><span id="dislikeComment{{ child.id }}">{{ child.commentDislike }}</span>
                        </a>
                        {% if depth < 2 %}
                            <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-default stat-item" title="répondre à ce commentaire">
                                <i class="fa fa-reply icon"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if child.children is not empty %}
        {{ render(controller('AppBundle:User:recursiveComment', {comment: child, depth: depth + 1})) }}
    {% endif %}
{% endfor %}
</div>
