{% extends('layout/layout.html.twig') %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row mg-t-50">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li class="active">{{ movieDetails.body.title }}</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Movie Details Item Row -->
        <div class="row">
            <div class="col-md-6">
                {% if (movieDetails.body.poster_path is defined) and (movieDetails.body.poster_path is not null) %}
                    <img class="img-responsive" src="https://image.tmdb.org/t/p/w500{{ movieDetails.body.poster_path }}" alt="{{ movieDetails.body.title }}"/>
                {% else %}
                    <img class="img-responsive img-hover" src="{{ asset('img/image-not-found.jpg') }}" alt="image not found">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>{{ movieDetails.body.title }} <span class="text-italic color-concrete font-size-25">({{ movieDetails.body.release_date|date("d/m/Y") }})</span></h3>
                {% if movieDetails.body.overview is not null %}
                    <h4>Synopsis</h4>
                    <p>{{ movieDetails.body.overview }}</p>
                {% endif %}
                <h3>Informations</h3>
                <ul>
                    <li>Statut : {% if movieDetails.body.status == "Released" %} Terminé {% else %} En cours {% endif %}</li>
                    <li>Titre originale : {{ movieDetails.body.original_title }}</li>
                    <li>Budget : {% if movieDetails.body.budget > 0 %} ${{ movieDetails.body.budget|number_format }} {% else %} budget inconnu {% endif %}</li>
                    <li>Recettes : {% if movieDetails.body.revenue > 0 %} ${{ movieDetails.body.revenue|number_format }} {% else %} recettes inconnu {% endif %}</li>
                    {% if movieDetails.body.runtime > 0 %}
                    <li>Durée :  {{ movieDetails.body.runtime }} min</li>
                    {% endif %}
                    <li>Sociétés de production :
                        {% if movieDetails.body.production_companies is not empty %}
                            {% set i = 0 %}
                            {% for productionCompany in movieDetails.body.production_companies %}
                                <a href="{{ path('company_movies', {company_id: productionCompany.id, company_name: productionCompany.name}) }}">{{ productionCompany.name }}</a>
                                {% set i = i + 1 %}
                                {% if movieDetails.body.production_companies|length > i %}/{% endif %}
                            {% endfor %}
                        {% else %}
                            inconnu
                        {% endif %}
                    </li>
                </ul>
                {% if movieDetails.body.genres is not empty %}
                    <h3>Genres</h3>
                    <ul class="nav nav-pills">
                        {% for genre in movieDetails.body.genres %}
                            <li class="active mg-t-3 mg-r-3"><a href="{{ path('genre_movies', {genre_id: genre.id, genre_name: genre.name}) }}">{{ genre.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->

        <!-- Movie Crew Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Les acteurs</h3>
            </div>
            {% for movieCast in movieDetails.body.credits.cast %}
                <div class="col-sm-6 col-md-4">
                    <a href="{{ path('people_details', {person_id: movieCast.id}) }}">
                        <div class="thumbnail text-center img-hover heigth-415">
                            {% if (movieCast.profile_path is defined) and (movieCast.profile_path is not null) %}
                                <img class="img-responsive img-circle" src="https://image.tmdb.org/t/p/w185{{ movieCast.profile_path }}" alt="{{ movieCast.name }}">
                            {% else %}
                                <img class="img-responsive img-hover" src="{{ asset('img/image-not-found.jpg') }}" alt="image not found">
                            {% endif %}
                            <div class="caption">
                                <h4>{{ movieCast.name }}</h4>
                                <p>Rôle : {{ movieCast.character }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->

        {% if movieDetails.body.videos.results is not empty %}
            <!-- Videos Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Vidéos</h3>
                </div>
                {% for video in movieDetails.body.videos.results %}
                <div class="col-md-6">
                    <h5>{{ video.name }}</h5>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.key }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        {% endif %}

        <!-- Recommandation Row -->
        {% if movieDetails.body.recommendations.results is not empty %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Recommandations</h3>
                </div>
                {% set limit = 8 %}
                {% for key, recommendation in movieDetails.body.recommendations.results %}
                    {% if key < limit %}
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                            <a href="{{ path('movie_details', {movie_id: recommendation.id}) }}" class="img-hover">
                                <div class="panel panel-default heigth-415">
                                    <div class="panel-heading">
                                        <h4>{% if recommendation.title is defined %}{{ recommendation.title }}{% endif %}</h4>
                                    </div>
                                    <div class="panel-body">
                                        <img class="img-responsive center-block" src="https://image.tmdb.org/t/p/w154{{ recommendation.poster_path }}" alt="{% if recommendation.title is defined %}{{ recommendation.title }}{% endif %}"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <!-- /.row -->


        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Commentaires</h3>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% for message in app.session.flashbag.get('success') %}
                    <div class="alert alert-dismissible alert-success" id="success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="col-md-12">
                    {% if movieComments is empty %}
                        <p>Soyez le premier à commenter ce film ! <a href="#addNewComment" data-toggle="collapse">Je commente</a></p>
                    {% else %}
                        <p><a href="#addNewComment" data-toggle="collapse">Ajouter un commentaire</a></p>
                    {% endif %}
                    <div class="collapse" id="addNewComment">
                        <p>Commentaire :</p>
                        {{ render(controller('AppBundle:User:addComment', {movie_id: movieDetails.body.id})) }}
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <p><a href="{{ path('fos_user_security_login') }}">Connectez-vous pour ajouter un commentaire</a></p>
                </div>
            {% endif %}
            {% for comment in movieComments %}
                {% if comment.parent is null %}
                    <div class="col-md-12">
                        <div class="panel panel-white post">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <a href="#"><b>{{ comment.user.getUsername() }}</b></a>
                                    </div>
                                    <h6 class="text-muted time">{{ comment.createdAt|date("H:i:s d/m/Y") }}</h6>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>{{ comment.content }}</p>
                                <div class="stats">
                                    <a href="#" class="btn btn-default stat-item" title="j'aime ce commentaire">
                                        <i class="fa fa-thumbs-up icon"></i>{{ comment.commentLike }}
                                    </a>
                                    <a href="#" class="btn btn-default stat-item" title="je n'aime pas ce commentaire">
                                        <i class="fa fa-thumbs-down icon"></i>{{ comment.commentDislike }}
                                    </a>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <a href="#replyTo{{ comment.id }}" data-toggle="collapse" class="btn btn-default stat-item" title="répondre à ce commentaire">
                                            <i class="fa fa-reply icon"></i>
                                        </a>
                                        <div class="mg-t-50 mg-l-50 collapse" id="replyTo{{ comment.id }}">
                                            <p>Votre réponse à ce commentaire :</p>
                                            {{ render(controller('AppBundle:User:addCommentResponse', {movie_id: comment.getMovieId(), comment_parent_id: comment.id})) }}
                                        </div>
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-default stat-item" title="répondre à ce commentaire">
                                            <i class="fa fa-reply icon"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if comment.children is not empty %}
                        {{ render(controller('AppBundle:User:recursiveComment', {comment: comment, depth: 0})) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

    </div>
    <!-- /.container -->
{% endblock %}
