{% extends('layout/layout.html.twig') %}

{% block body %}
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row mg-t-50">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li class="active">Genre : {{ genreName }}</li>
                </ol>
            </div>
            <div class="col-md-12">
                <h3 class="mg-0">Liste de films pour le genre "{{ genreName }}"</h3>
            </div>
        </div>
        <!-- /.row -->

        <div class="row mg-t-50">
            {{ render(controller('AppBundle:Movie:includeMovieResults', {listMovies: genreMovies})) }}
            {{ render(controller('AppBundle:Movie:includePagination', {listMovies: genreMovies, previousFormId: 'previousPageGenre', nextFormId: 'nextPageGenre', inputName: genreName, action: path('genre_movies', {genre_id: genreId, genre_name: genreName})})) }}
        </div>
    </div>

{% endblock %}