{% for movie in listMovies.body.results %}
    {% if (movie.poster_path is defined) and (movie.poster_path is not null) %}
    <div class="col-md-4 text-center">
        <div class="panel panel-default heigth-800">
            <div class="panel-heading">
                <h4>{% if movie.title is defined %}{{ movie.title }}{% endif %}</h4>
            </div>
            <div class="panel-body">
                <img class="img-responsive center-block" src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}" alt="{% if movie.title is defined %}{{ movie.title }}{% endif %}"/>
                <hr>
                <p>{% if movie.overview is defined %}{{ movie.overview | truncate(30) }}{% endif %}</p>
                <a href="{{ path('movie_details', {movie_id: movie.id}) }}" class="btn btn-default">Plus d'information</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if movie.title is defined %}
                        <p class="text-right position-absolute b-1pc r-10pc">
                            <a class="remove-event glyphicon glyphicon-heart font-size-20 mg-r-3" href="#" title="Ajouter aux favoris" style="text-decoration: none;" onclick="addFavoriteMovie({{ movie.id }}, '{{ movie.title }}', '{{ movie.poster_path }}')"></a>
                            <a class="remove-event glyphicon glyphicon-eye-open font-size-20 mg-r-3" href="#" title="Ajouter dans ma playlist 'films à voir'" style="text-decoration: none;" onclick="addMovieToWatch({{ movie.id }}, '{{ movie.title }}', '{{ movie.poster_path }}')"></a>
                            <a class="remove-event glyphicon glyphicon-star font-size-20 mg-r-3" href="#" data-toggle="modal" data-target="#rateMovieModal" title="Noter ce film" style="text-decoration: none;"></a>
                            <div class="modal fade" id="rateMovieModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title text-center">Noter ce film</h4>
                                        </div>
                                        <div class="modal-body">
                                            Stars
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}

{% for people in listMovies.body.results %}
    {% if (people.profile_path is defined) and (people.profile_path is not null) %}
        <div class="col-md-4 text-center">
            <a href="{{ path('people_details', {person_id: people.id}) }}">
                <div class="panel panel-default heigth-415 img-hover">
                    <div class="panel-heading">
                        <h4>{% if people.name is defined %}{{ people.name }}{% endif %}</h4>
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive center-block" src="https://image.tmdb.org/t/p/w185{{ people.profile_path }}" alt="{% if people.name is defined %}{{ people.name }}{% endif %}"/>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
{% endfor %}
