{% extends("layout/layout.html.twig") %}
{% block body %}
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
            {% set isFirstSlide = true %}
            {% for i in 0..nowPlayingMoviesSlider.body.results|length - 1 %}
                <li data-target="#myCarousel" data-slide-to="{{ i }}" class="{% if isFirstSlide == true %} active {% endif %}"></li>
                {% set isFirstSlide = false %}
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        {% set isFirst = true %}
        <div class="carousel-inner">
            {% for nowPlayingMovie in nowPlayingMoviesSlider.body.results %}
                <div class="item {% if isFirst == true %} active {% endif %}">
                    <a href="{{ path('movie_details', {movie_id: nowPlayingMovie.id}) }}">
                        <div class="fill" style="background-image:url('https://image.tmdb.org/t/p/original{{ nowPlayingMovie.backdrop_path }}');"></div>
                    </a>
                    <div class="carousel-caption">
                        <h2>{{ nowPlayingMovie.title }}</h2>
                    </div>
                </div>
                {% set isFirst = false %}
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row mg-t-50">
            <div class="col-md-12">
                <div class="alert alert-dismissible display-none" id="addFavoriteMovieState">
                    <button type="button" class="close" onclick="closeAlert('addFavoriteMovieState')">&times;</button>
                    <span></span>
                </div>
                <ul class="nav nav-tabs" id="moviesTab">
                    <li class="active"><a href="#nowPlaying" data-toggle="tab">Films à l'affiche</a></li>
                    <li class=""><a href="#popular" data-toggle="tab">Films populaires</a></li>
                    <li class=""><a href="#upcoming" data-toggle="tab">Prochainement</a></li>
                    <li class=""><a href="#topRated" data-toggle="tab">Films les mieux notés</a></li>
                </ul>
                <div id="myTabContent" class="tab-content mg-t-50">
                    <div class="tab-pane fade active in" id="nowPlaying">
                        <div class="row">
                            {{ render(controller('AppBundle:Movie:includeMovieResults', {listMovies: nowPlayingMovies})) }}
                            {#<ul class="pagination" id="pagination">
                                     {% if nowPlayingMovies.body.page >= 2 %}
                                        <li><a href="{{ path('homepage_bis', {page_number: nowPlayingMovies.body.page - 1}) }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><a href="#pagination">&laquo;</a></li>
                                    {% endif %}
                                    {% for page in 1..nowPlayingMovies.body.total_pages %}
                                        {% if page == nowPlayingMovies.body.page %}
                                            <li class="active"><a href="{{ path('homepage_bis', {page_number: page}) }}">{{ page }}</a></li>
                                        {% else %}
                                            <li><a href="{{ path('homepage_bis', {page_number: page}) }}">{{ page }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if nowPlayingMovies.body.page + 1 < nowPlayingMovies.body.total_pages %}
                                        <li><a href="{{ path('homepage_bis', {page_number: nowPlayingMovies.body.page + 1 }) }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><a href="#pagination">&raquo;</a></li>
                                    {% endif %}
                                </ul>#}
                            {{ render(controller('AppBundle:Movie:includePagination', {listMovies: nowPlayingMovies, previousFormId: 'previousPageNow', nextFormId: 'nextPageNow', inputName: 'page-a-laffiche', action: path('homepage')})) }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="popular">
                        <div class="row">
                            {{ render(controller('AppBundle:Movie:includeMovieResults', {listMovies: popularMovies})) }}
                            {{ render(controller('AppBundle:Movie:includePagination', {listMovies: popularMovies, previousFormId: 'previousPagePopular', nextFormId: 'nextPagePopular', inputName: 'page-populaire', action: path('homepage')})) }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="upcoming">
                        <div class="row">
                            {{ render(controller('AppBundle:Movie:includeMovieResults', {listMovies: upcomingMovies})) }}
                            {{ render(controller('AppBundle:Movie:includePagination', {listMovies: upcomingMovies, previousFormId: 'previousPageUpcoming', nextFormId: 'nextPageUpcoming', inputName: 'page-prochainement', action: path('homepage')})) }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="topRated">
                        <div class="row">
                            {{ render(controller('AppBundle:Movie:includeMovieResults', {listMovies: topRatedMovies})) }}
                            {{ render(controller('AppBundle:Movie:includePagination', {listMovies: topRatedMovies, previousFormId: 'previousPageTopRated', nextFormId: 'nextPageTopRated', inputName: 'page-meilleurs-notes', action: path('homepage')})) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 8000 //changes the speed
        })
        selectTabActiveOnRefresh()
    </script>
{% endblock %}