{% extends('layout/layout.html.twig') %}

{% block body %}
    <div class="container">
        <div class="row mg-t-50">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li class="active">{{ peopleDetails.body.name }}</li>
                </ol>
            </div>
        </div>

        <!-- Movie Details Item Row -->
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="https://image.tmdb.org/t/p/w300{{ peopleDetails.body.profile_path }}" alt="{{ peopleDetails.body.name }}"/>
            </div>
            <div class="col-md-8">
                <h3>{{ peopleDetails.body.name }}</h3>
                {% if (peopleDetails.body.biography is defined) and (peopleDetails.body.biography is not null) %}
                    <h4>Biographie</h4>
                    <p>{{ peopleDetails.body.biography }}</p>
                {% endif %}
                <h3>Informations personnelles</h3>
                <ul>
                    <li>Genre : {% if peopleDetails.body.gender == 1 %} Femme {% else %} Homme {% endif %}</li>
                    <li>Né(e) le : {{ peopleDetails.body.birthday|date("d/m/Y") }}</li>
                    <li>Lieu de naissance : {{ peopleDetails.body.place_of_birth }}</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Filmographie</h3>
            </div>
            {% for movie in peopleDetails|sortMovies %}
                <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                    <a href="{{ path('movie_details', {movie_id: movie.id}) }}" class="img-hover">
                        <div class="panel panel-default heigth-415">
                            <div class="panel-heading">
                                <h4>{% if movie.title is defined %}{{ movie.title }}{% endif %}</h4>
                                <p>{% if movie.release_date is not null %}{{ movie.release_date|date("d/m/Y") }}{% endif %}</p>
                            </div>
                            <div class="panel-body">
                                {% if (movie.poster_path is defined) and (movie.poster_path is not null) %}
                                    <img class="img-responsive center-block" src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" alt="{% if movie.title is defined %}{{ movie.title }}{% endif %}"/>
                                {% else %}
                                    <img class="img-responsive img-hover center-block" src="{{ asset('img/image-not-found.jpg') }}" alt="image not found">
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}