{% extends('layout/layout.html.twig') %}

{% block body %}
    <div class="container">
        <div class="row mg-t-50">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li class="active">{{ peopleDetails.body.name }}</li>
                </ol>
            </div>
        </div>
        <!-- Movie Details Item Row -->
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="https://image.tmdb.org/t/p/w300{{ peopleDetails.body.profile_path }}" alt="{{ peopleDetails.body.name }}"/>
            </div>
            <div class="col-md-8">
                <h3>{{ peopleDetails.body.name }}</h3>
                {% if (peopleDetails.body.biography is defined) and (peopleDetails.body.biography is not null) %}
                    <h4>Biographie</h4>
                    <p>{{ peopleDetails.body.biography }}</p>
                {% endif %}
                <h3>Informations personnelles</h3>
                <ul>
                    <li>Genre : {% if peopleDetails.body.gender == 1 %} Femme {% else %} Homme {% endif %}</li>
                    <li>Né(e) le : {{ peopleDetails.body.birthday|date("d/m/Y") }}</li>
                    <li>Lieu de naissance : {{ peopleDetails.body.place_of_birth }}</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>

{% endblock %}